// Variables
$base_0: #fff;
$base_1: #000;
$primary: darkred;

// Piano
.piano {
    height: 450px;
    display: flex;
    overflow: hidden;
    position: relative;
    padding: 12px 9% 6%;
    justify-content: center;
    background-color: $primary;
}