// Variables
$base_0: #fff;
$base_1: #000;
$primary: darkred;

// Piano
.piano {
    height: 450px;
    display: flex;
    overflow: hidden;
    position: relative;
    padding: 12px 9% 6%;
    justify-content: center;
    background-color: $primary;


    .piano-key {
        flex: 1;
        position: relative;
        margin: 0 0.12rem;
        max-width: 8.8rem;
    }
    .piano-key-white {
        height: 100%;
        cursor: pointer;
        background: $base_0;
    }
    .piano-key-black {
        top: 0;
        left: 100%;
        width: 70%;
        height: 60%;
        cursor: pointer;
        z-index: 1;
        position: absolute;
        background: $base_1;
        transform: translateX(-50%);
    }
}